
  img {
    border-bottom: 0.25rem solid rgb(255, 0, 0);
    border-radius: 0.25rem 0.25rem 0 0;
    object-fit: contain;
  }

  @media screen and (min-width: 768px) {
    img {
      min-height: 10rem;
      object-fit: contain;
    }
  }

  @media screen and (min-width: 1200px) {
    img {
      min-height: 12rem;
      object-fit: contain;
    }
  }

  .header,
  .subheader {
    margin: 0;
  }

  input {
    border: 2px solid grey;
    font-size: 1rem;
    width: 80%;
    height: 1rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    padding: 1rem;
  }

  .title {
    text-align: center;
    padding-bottom: 3em;
  }

  h1, h2{
    color: white;
  }

  h3 {
    text-align: center;
    padding: 1em;
  }

  body {
    background-color: #003b59;
  }
